<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="{% static 'css/ef3f_style.css' %}" rel="stylesheet">

    <title>{% block title %} {% endblock title %}</title>
    {% block css %} {% endblock css %}
</head>
<body>
    <div class="container opacity flex-row">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} my-1 alert-dismissible fade show" role="alert">
          <strong style="text-transform: capitalize;">{{ message.tags }}!</strong> {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    </div>

    {% block body %} {% endblock body %}    
    
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    {% block js %} {% endblock js %}
    <script>
    /* restrict user browser click go back button */
    function preback() { window.history.forward(); }
    setTimeout("preback()", 0);
    window.onunload = function() { null };

    /* Left click dissabled (not select any content or text)*/
    function disableselect(e) { return false; }

    function reEnable() { return true; }
    document.onselectstart = new Function("return false")
    if (window.sidebar) {
        document.onmousedown = disableselect
        document.onclick = reEnable
    }

    /* Right click dissabled */
    function ieClicked() { if (document.all) { return false; } }

    function firefoxClicked(e) { if (document.layers || (document.getElementById && !document.all)) { if (e.which == 2 || e.which == 3) { return false; } } }
    if (document.layers) {
        document.captureEvents(Event.MOUSEDOWN);
        document.onmousedown = firefoxClicked;
    } else {
        document.onmouseup = firefoxClicked;
        document.oncontextmenu = ieClicked;
    }
    document.oncontextmenu = new Function("return false")

    /* Dissable shortcut key */
    document.onkeydown = function(e) {
        if ((e.ctrlKey && e.shiftKey && (e.keyCode === 73)) || (e.ctrlKey && (e.keyCode === 65 || e.keyCode === 67 || e.keyCode === 72 || e.keyCode === 74 || e.keyCode === 78 || e.keyCode === 79 || e.keyCode === 80 || e.keyCode === 82 || e.keyCode === 83 || e.keyCode === 85 /* || e.keyCode === 88*/ || e.keyCode === 89 || e.keyCode === 90))) { return false; }
        return true;
    };

    </script>
</body>
</html>