{% extends 'home/base.html' %}
{% load static %}

{% block title %} Welcome | EF3F {% endblock title %}

{% block body %}
<div class="container">
    <div id="logreg-forms">         
        <div class="logo">
            <img class="img-fluid" src="{% static 'images/logo.png' %}" alt="">
        </div>       
        <form class="form-signin"  method="post" action="/login"> {% csrf_token %}
            <h1 class="h3 pb-2 font-weight" style="text-align: center"> Please Sign in </h1>
            
            <input type="text" id="user_id" name="user_id" class="form-control my-1" placeholder="Mobile..." required autofocus="">
            <input type="password" id="password" name="password" class="form-control my-1" placeholder="Password..." required autofocus="">
            
            <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>
            <a href="#" id="forgot_pswd">Forgot password?</a>
            <hr>
            <button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up New Account</button>
        </form>

        <form action="#" method="post" class="form-reset">
            <h1 class="h3 pb-2 font-weight" style="text-align: center"> Reset Password </h1>
            <input type="email" id="email" class="form-control" placeholder="Email..." required autofocus="">
            <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
            <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
        </form>
        
        <form action="/signup" method="post" class="form-signup" onsubmit="return validate()"> {% csrf_token %}
            <h1 class="h3 pb-2 font-weight" style="text-align: center"> Please Sign Up </h1>
            
            <input type="text" id="referal_code" name="referal_code" class="form-control" placeholder="Referal code..." autofocus=""><hr>
            <input type="text" id="fname" name="fname" class="form-control" placeholder="First name..." required>
            <input type="text" id="lname" name="lname" class="form-control" placeholder="Last name..." required>
            <input type="text" id="mobile" name="mobile" class="form-control" placeholder="Mobile..." required>
            <input type="email" id="email" name="email" class="form-control" placeholder="Email..." required>
            <input type="password" id="pass" name="pass" class="form-control" placeholder="Password..." required>
            <input type="password" id="repass" name="repass" class="form-control" placeholder="Re-Password..." required>

            <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
            <a href="#" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
        </form>
    </div>
</div>
{% endblock body %}

{% block js %}<script>
function toggleResetPswd(e){
    e.preventDefault();
    $('#logreg-forms .form-signin').toggle() // display:block or none
    $('#logreg-forms .form-reset').toggle() // display:block or none
}

function toggleSignUp(e){
    e.preventDefault();
    $('#logreg-forms .form-signin').toggle(); // display:block or none
    $('#logreg-forms .form-signup').toggle(); // display:block or none
}

$(()=>{
    // Login Register Form
    $('#logreg-forms #forgot_pswd').click(toggleResetPswd);
    $('#logreg-forms #cancel_reset').click(toggleResetPswd);
    $('#logreg-forms #btn-signup').click(toggleSignUp);
    $('#logreg-forms #cancel_signup').click(toggleSignUp);
})

/* Validate signup form */
function validate(){
    var mobile = document.getElementById('mobile');
    var pass = document.getElementById('pass');
    var repass = document.getElementById('repass');

    re_mobile = /^[5-9]{1}\d{9}$/;
        
    if((mobile.value.match(re_mobile)) && (mobile.value.length==10)){
        mobile.style.borderColor = "";
        mobile.style.color = "";
    }else{
        mobile.style.borderColor = "red";
        mobile.style.color = "red";
        return false;
    }

    if(pass.value==repass.value){
        repass.style.borderColor = "";
        repass.style.color = "";
    }else{
        repass.style.borderColor = "red";
        repass.style.color = "red";
        return false; 
    }

    return true;
  }

</script>{% endblock js %}
