{% extends 'home/base.html' %}
{% load static %}

{% block title %} Welcome | EF3F {% endblock title %}
{% block css %}<style>
    
</style>{% endblock css %}

{% block body %}
<div class="container">
    <div id="logreg-forms">         
        <div class="logo">
            <img class="img-fluid" src="{% static 'images/logo.png' %}" alt="">
        </div> 
        <h2 class="h3 pb-2 font-weight" style="text-align: center"> Mail sent Successfully </h2>
        <div class="px-3">
            <h6>NOTE:</h6>
            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
            <a href="/"><i class="fas fa-home mb-3"></i> Go to Home</a>
        </div>        			
    </div>
</div>
{% endblock body %}
