{% extends 'home/base.html' %}
{% load static %}

{% block title %} Welcome | EF3F {% endblock title %}
{% block css %}<style>

</style>{% endblock css %}
{% block body %}
<div class="container">
    <div id="logreg-forms">         
        <div class="logo">
            <img class="img-fluid" src="{% static 'images/logo.png' %}" alt="">
        </div> 
        <h2 class="h3 pb-2 font-weight" style="text-align: center"> Password reset complete </h2>
        <div class="px-3">
            <p>Your password has been set. You may go ahead and log in now.</p><hr>
            <a href="/"><i class="fas fa-home mb-3"></i> Log in</a>
        </div>        			
    </div>
</div>
{% endblock body %}