{% extends 'home/base.html' %}
{% load static %}

{% block title %} Welcome | EF3F {% endblock title %}
{% block css %}<style>
    label{
        display: none;
    }
</style>{% endblock css %}

{% block body %}
<div class="container">
    <div id="logreg-forms">         
        <div class="logo">
            <img class="img-fluid" src="{% static 'images/logo.png' %}" alt="">
        </div> 
        <form method="post"> {% csrf_token %}
			<h2 class="h3 pb-2 font-weight" style="text-align: center"> Reset Password </h2>
			{{form}}
			<button class="btn btn-primary btn-block" type="submit">Reset Password</button>
			<a href="/"><i class="fas fa-angle-left"></i> Back</a>
		</form>
    </div>
</div>
{% endblock body %}

{% block js %}<script>
$(document).ready(function(){
    $('#id_email').addClass('form-control my-1')
    $('#id_email').attr('placeholder', 'Enter email...');
    $('#id_email').focus();
});
</script>{% endblock js %}