{% extends 'home/base.html' %}
{% load static %}

{% block title %} Welcome | EF3F {% endblock title %}
{% block css %}<style>
    label{
        display: none;
    }
    .helptext ul{
        margin: 0 20px;
    }
    .helptext ul li{
        font-size: 12px;
    }
</style>{% endblock css %}

{% block body %}
<div class="container">
    <div id="logreg-forms">         
        <div class="logo">
            <img class="img-fluid" src="{% static 'images/logo.png' %}" alt="">
        </div> 
        <h2 class="h3 pb-2 font-weight" style="text-align: center"> Enter new password </h2>
        <form method="post">{% csrf_token %}
			{{form}}
			<input type="Submit" name="Update Password" value="Update Password" class="btn btn-primary btn-block">
		</form>       			
    </div>
</div>
{% endblock body %}

{% block js %}<script>
$(document).ready(function(){
    $('#id_new_password1').addClass('form-control my-1')
    $('#id_new_password1').attr('placeholder', 'New Password...');
    $('#id_new_password1').focus();

    $('#id_new_password2').addClass('form-control my-1')
    $('#id_new_password2').attr('placeholder', 'New password confirmation...');
});
</script>{% endblock js %}