{% extends 'base.html' %}
{% block title %} Client List {% endblock title %}
{% block body_titlle %}Client Details{% endblock body_titlle %}
{% block css %}<style>
#active_status{
  background-color: rgb(250, 6, 6);
  color: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 0 7px;
  font-weight: bold;
}
</style>{% endblock css %}

{% block body %}
    <div class="container-fluid">    
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">My Client List</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Client Name</th>
                      <th>Referal Code</th>
                      <th>Mobile</th>
                      <th>Gender</th>
                      <th>District</th>
                      <th>State</th>
                      <th>DateTime</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for list in myClientList %}
                    <tr>
                      <td>{{list.user_id.get_full_name}}</td>
                      <td>{{list.my_referal_code}}</td>
                      <td>{{list.user_id}}</td>
                      <td>{{list.gender}}</td>
                      <td>{{list.district}}</td>
                      <td>{{list.state}}</td>
                      <td>{{list.timeStamp}}</td>
                      <td><span id="active_status">x</span></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
{% endblock body %}

{% block js %}<script>
    $(document).ready(function() {
        $('#dataTable').DataTable();
    });
</script>{% endblock js %}