{% extends 'base.html' %}
{% block title %} Dashboard {% endblock title %}
{% block body_titlle %}Dashboard{% endblock body_titlle %}

{% block body %}
          <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Wallet Amount</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><i class="fa fa-rupee" style="font-size:16px"></i> 0.00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-inr fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Incentive Earning</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><i class="fa fa-rupee" style="font-size:16px"></i> 0.00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-inr fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Basic Earning</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><i class="fa fa-rupee" style="font-size:16px"></i> 0.00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-inr fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Earning</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><i class="fa fa-rupee" style="font-size:16px"></i> 0.00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-inr fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-dark shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">Membership Expire</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="exp_time">----/--/--</span></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar-times-o fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Qualify Label</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                       <i class="fa fa-star-o"></i>
                       <i class="fa fa-star-o"></i>
                       <i class="fa fa-star-o"></i>
                       <i class="fa fa-star-o"></i>
                       <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-legal fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Active Members</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"> 1 </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-registered fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Total Members</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"> {{total_clients}} </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-registered fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Company Policy</h6>
                </div>
                <div class="card-body text-justify">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>Labels</th>
                            <th>My Members</th>
                            <th>Team Members</th>
                            <th>Every Referal</th>
                            <th>Every Month</th>
                            <th>Every Year</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                            </td>
                            <td><i class="fas fa-user-plus text-gray-300"></i> < 1 </td>
                            <td><i class="fas fa-users text-gray-300"></i> >= 0</td>
                            <td><i class="fas fa-inr text-gray-300"></i> 50.00</td>
                            <td><i class="fas fa-inr text-gray-300"></i> 0.00</td>
                            <td><i class="fas fa-inr text-gray-300"></i> 0.00</td>
                          </tr>
                          <tr>
                            <td>
                              <i class="fa fa-star-half-empty"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                            </td>
                            <td>1 <= <i class="fas fa-user-plus text-gray-300"></i> < 3 </td>
                            <td><i class="fas fa-users text-gray-300"></i> >= 10</td>
                            <td><i class="fas fa-inr text-gray-300"></i> 50.00</td>
                            <td><i class="fas fa-inr text-gray-300"></i> 50.00</td>
                            <td><i class="fas fa-inr text-gray-300"></i> 700.00</td>
                          </tr>
                          <tr>
                            <td>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                            </td>
                            <td>3 <= <i class="fas fa-user-plus text-gray-300"></i> < 6 </td>
                            <td><i class="fas fa-users text-gray-300"></i> >= 100</td>
                            <td><i class="fas fa-inr text-gray-300"></i> 50.00</td>
                            <td><i class="fas fa-inr text-gray-300"></i> 100.00</td>
                            <td><i class="fas fa-inr text-gray-300"></i> 1450.00</td>
                          </tr>
                          <tr>
                            <td>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                            </td>
                            <td>6 <= <i class="fas fa-user-plus text-gray-300"></i> < 10 </td>
                            <td><i class="fas fa-users text-gray-300"></i> >= 500</td>
                            <td><i class="fas fa-inr text-gray-300"></i> 50.00</td>
                            <td><i class="fas fa-inr text-gray-300"></i> 210.00</td>
                            <td><i class="fas fa-inr text-gray-300"></i> 2970.00</td>
                          </tr>
                          <tr>
                            <td>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                            </td>
                            <td>10 <= <i class="fas fa-user-plus text-gray-300"></i> < 25 </td>
                            <td><i class="fas fa-users text-gray-300"></i> >= 1000</td>
                            <td><i class="fas fa-inr text-gray-300"></i> 50.00</td>
                            <td><i class="fas fa-inr text-gray-300"></i> 320.00</td>
                            <td><i class="fas fa-inr text-gray-300"></i> 5040.00</td>
                          </tr>
                          <tr>
                            <td>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o"></i>
                            </td>
                            <td>25 <= <i class="fas fa-user-plus text-gray-300"></i> < 50 </td>
                            <td><i class="fas fa-users text-gray-300"></i> >= 5000</td>
                            <td><i class="fas fa-inr text-gray-300"></i> 50.00</td>
                            <td><i class="fas fa-inr text-gray-300"></i> 640.00</td>
                            <td><i class="fas fa-inr text-gray-300"></i> 10130.00</td>
                          </tr>
                          <tr>
                            <td>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            </td>
                            <td>50 <= <i class="fas fa-user-plus text-gray-300"></i></td>
                            <td><i class="fas fa-users text-gray-300"></i> >= 10000</td>
                            <td><i class="fas fa-inr text-gray-300"></i> 50.00</td>
                            <td><i class="fas fa-inr text-gray-300"></i> 1150.00</td>
                            <td><i class="fas fa-inr text-gray-300"></i> Unlimited</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>

{% endblock body %}