{% extends 'base.html' %}
{% block title %} Dashboard {% endblock title %}
{% block body_titlle %}Dashboard{% endblock body_titlle %}

{% block body %}
          <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Wallet Amount</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><i class="fa fa-rupee" style="font-size:16px"></i> 0.00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-inr fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Direct Earning</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><i class="fa fa-rupee" style="font-size:16px"></i> 0.00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-inr fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Earning From Team</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><i class="fa fa-rupee" style="font-size:16px"></i> 0.00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-inr fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Earning</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><i class="fa fa-rupee" style="font-size:16px"></i> 0.00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-inr fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-dark shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">Total Incentive</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><i class="fa fa-rupee" style="font-size:16px"></i> 0.00</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-institution fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Qualify Label</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                       <i class="fa fa-star-half-empty"></i>
                       <i class="fa fa-star-o"></i>
                       <i class="fa fa-star-o"></i>
                       <i class="fa fa-star-o"></i>
                       <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-legal fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Active Members</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"> 1 </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-registered fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Total Members</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"> {{total_clients}} </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-registered fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Our Mission</h6>
                </div>
                <div class="card-body text-justify">
                  <p>This site is under developing for give more profit and also facilities.</p>
                </div>
              </div>
            </div> 
          </div>

{% endblock body %}