{% extends 'base.html' %}
{% block title %} My Referal Code {% endblock title %}
{% block body_titlle %}My Referal Code{% endblock body_titlle %}

{% block body %}
    <div class="row">
        <!-- Area Chart -->
        <div class="col-md-12">
            <!-- Our Mission Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Share Everyone This Referal Code</h6>
                </div>
                <div class="card-body text-justify">
                    <form class="user" method="post" action="/client/my_referal_code"> {% csrf_token %}
                        <div class="form-group">
                            <h3>My Referal Code: <span class="badge badge-success">{{my_referal_code}}</span></h3>
                        </div>    
                        <a href="{{ BASE_URL }}/signup_by_referal?use_referal_code={{my_referal_code}}" target="_blank" class="btn btn-primary">Link Share</a>
                    </form>
                </div>
            </div>
        </div> 
    </div>
{% endblock body %}