{% extends 'base.html' %}
{% block title %} My Referal Code {% endblock title %}
{% block body_titlle %}My Referal Code{% endblock body_titlle %}
{% block css %}<style>
#urlShare{
    border: none;
    outline: none;
    color: rgba(red, green, blue, alpha);
    border-radius: 10px;
}
.alert{
    display: none;
}
</style>{% endblock css %}

{% block body %}
    <div class="row">
        <!-- Area Chart -->
        <div class="col-md-12">
            <!-- Our Mission Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-primary">My Referal Code: <span class="badge badge-success">{{my_referal_code}}</span></h5>
                </div>
                <div class="card-body text-justify">
                    <div>
                        <p id="urlShare">{{ request.get_host }}/signup_by_referal?use_referal_code={{my_referal_code}}</p>
                        <button id="btnShare" class="btn btn-primary btn-sm"><i class="fa fa-share-alt"> Copy </i></button>                        
                        <a href="whatsapp://send?text={{ request.get_host }}/signup_by_referal?use_referal_code={{my_referal_code}}"><i class="fa fa-whatsapp btn btn-primary btn-sm"> Share</i></a>
                        <span class="alert">Copied</span>
                    </div>  
                </div>
            </div>
        </div> 
    </div>
{% endblock body %}

{% block js %}<script>
    function copy(copyId){
        var $inp = $("<input>");
        $("body").append($inp);
        $inp.val($(""+copyId).text()).select();
        document.execCommand("copy");
        $inp.remove();
        $(".alert").fadeIn(500, function(){
            $(".alert").fadeOut(2000)            
        });

        $("p").css({"color": "red", "font-weight": "bold"});
        $("#btnShare").html('Copied');
        $("#btnShare").css('background-color','green');
    }

    $(document).ready(function(){
        $("#btnShare").click(function(){
            copy("#urlShare");            
        });
    });
</script>{% endblock js %}